:root {
    --ma-couleur-principale: #124660;
    --ma-couleur-bouton: #1b9476;
    --mon--autre--couleur: #8bd59e;
    --ma--couleur--text: #ffff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat Alternates", sans-serif;
  }

.espace-dashboard{
    display: flex;
    width: 100%;
}
.espace-dashboard .menu{
    width :15%;
    height: 100vh;
    background-color: var(--ma-couleur-principale);
    border-right: 1px solid black;
}
.espace-dashboard .corpsdashbord{
    width: 85%;
    height: 100vh;
    background-color: var(--ma--couleur--text);
}
.div-header{
    height: 10%;
    width: 100%;
    background-color: var(--ma--couleur--text);
}
.div-second{
    height: 30%;
    width: 100%;
    background-color: var(--mon--autre--couleur);
    position: absolute;
}
.cadre-affichache{
    height: auto ;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top: 5rem;
}
.cadre-affichache .enfant1{
    width: 15rem;
    height: 10rem;
    border: 1px solid green;
    background-color: var(--ma--couleur--text);
    border-radius: 10px;
}