:root {
    --ma-couleur-principale: #124660;
    --ma-couleur-bouton: #1b9476;
    --mon--autre--couleur: #8bd59e;
    --ma--couleur--text: #ffff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat Alternates", sans-serif;
  }

.espace-dashboard{
    display: flex;
    width: 100%;
}
.espace-dashboard .menu{
    width :15%;
    height: 100vh;
    background-color: var(--ma-couleur-principale);
    border-right: 1px solid black;
}
.espace-dashboard .corpsdashbord{
    width: 85%;
    height: 100vh;
    background-color: var(--ma--couleur--text);
}
.div-header{
    height: 8%;
    width: 100%;
    background-color: var(--ma--couleur--text);
}
.div-second{
    height: 20%;
    width: 100%;
    background-color: var(--ma-couleur-principale);
}
