:root {
  --ma-couleur-principale: #124660;
  --ma-couleur-bouton: #1b9476;
  --mon--autre--couleur: #8bd59e;
  --ma--couleur--text: #ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat Alternates", sans-serif;
}
.Sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  padding: 0 1;
  color: #fff;
  overflow: hidden;
  transition: all 0.5s linear;
  background-color: var(--ma-couleur-principale);
}

.Sidebar:hover {
  width: 240px;
  transition: 0.5s;
}
.lago {
  height: 80px;
  padding: 16px;
}

.manu {
  height: 88%;
  position: relative;
  padding: 0;
}
.manu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.manu li:hover,
.active {
  background: var(--mon--autre--couleur);
}

.manu a {
  color: var(--ma--couleur--text);
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.manu a span {
  overflow: hidden;
}

.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.logout .ice {
  color: var(--ma--couleur--text);
}
.ice {
  font-size: 2rem;
}

.main--content {
  position: relative;
  background: #ebe9e9;
  width: 100%;
  padding: 1rem;
}
.head--wrapper img {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.head--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}

.head--title {
  color: rgba(113, 99, 186, 225);
}

.user--info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searc--box {
  background: rgb(237, 237, 237);
  border-radius: 15px;
  color: rgba(113, 99, 186, 225);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;
}

.searc--box input {
  padding: 10px;
}

.searc--box .ko {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.searc--box .ko:hover {
  transform: scale(1.2);
}
